{% extends 'base.html' %}

{% block subtitle %}"{{ book.title }}"{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>Autor: <span class="bookery-info">{{ book.authors if book.authors }}</span></p>
        <p>ISBN: <span class="bookery-info">{{ book.isbn if book.isbn }}</span></p>
        <p>Cena: <span class="bookery-info">{{ book.price if book.price }}</span></p>
        <p>Data dodania: <span class="bookery-info">{{ book.inserted_at.strftime('%d-%m-%Y') }}</span></p>
        <a class="bookery-action" href="{{ url_for('catalog.edit', book_id=book.id) }}">Edytuj książkę</a>
        <a
            id="bookery-delete-book-action"
            class="bookery-action-last bookery-action-delete"
            data-name="{{ book.title }}"
            data-redirect="{{ url_for('catalog.index')}}"
            href="{{ url_for('catalog.delete', book_id=book.id) }}"
        >
        Usuń książkę
        </a>
        <div class="bookery-book-action-container">
            <h3 class="bookery-book-action-title">Egzemplarze: <strong>{{ copies }}</strong></h3>
            <div id="bookery-book-action" class="bookery-book-action" data-name="{{ book.title }}">
                <button type="button" id="bookery-receive" data-href="{{ url_for('bookaction.receive', book_id=book.id) }}" class="btn btn-success bookery-action">Dodaj</button>
                <button type="button" id="bookery-release" data-href="{{ url_for('bookaction.release', book_id=book.id) }}" data-receivershref="{{ url_for('receiver.all') }}" class="btn btn-primary bookery-action">Wydaj</button>
                <button type="button" id="bookery-sell" data-href="{{ url_for('bookaction.sell', book_id=book.id) }}" class="btn btn-warning bookery-action">Sprzedaj</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="bookery-book-action-container">
            <h3 class="bookery-book-action-title text-center">Akcje</h3>
                <div class="table-responsive-xl">
                    <table class="table table-striped" id="bookery-book-action-table">
                        <thead>
                            <tr>
                                <th scope="col">Nr</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Egzemplarze</th>
                                <th scope="col">Odbiorca</th>
                                <th scope="col">Komentarz</th>
                                <th scope="col">Data dodania</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for action in actions %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>
                                    {% if action.name == 'wydano' %}
                                    <a href="{{ url_for('bookaction.sell_released', book_id=book.id, action_id=action.id) }}" class="bookery-book-action-special" data-copies="{{ action.copies }}">{{ action.name }}</a>
                                    {% else %}
                                    {{ action.name }}
                                    {% endif %}
                                </td>
                                <td>{{ action.copies }}</td>
                                <td>{{ action.receiver }}</td>
                                <td>{{ action.comment }}</td>
                                <td>{{ action.inserted_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal_content_creator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delete_action.js') }}"></script>
    <script>DeleteAction.init('bookery-delete-book-action');</script>
    <script src="{{ url_for('static', filename='js/book_action.js') }}"></script>
{% endblock %}
