{% set icon_path = 'icons/arrow-up.svg' if sorting_type == 'asc' else 'icons/arrow-down.svg' %}
{% set icon_alt = 'strzałka w górę' if sorting_type == 'asc' else 'strzałka w dół' %}

{% extends 'base.html' %}

{% block subtitle %}Katalog książek{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive-xl">
            <table class="table table-striped">
                <thead>
                    <tr id="catalog-columns-names">
                        <th scope="col">Nr</th>
                        <th scope="col">
                            <a href="{{ url_for('catalog.index', sorting_field='title', sorting_type='desc' if sorting_field == 'title' and sorting_type == 'asc' else 'asc') }}">
                                Tytuł
                                {% if sorting_field == 'title' %}<img src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_alt }}">{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="{{ url_for('catalog.index', sorting_field='authors', sorting_type='desc' if sorting_field == 'authors' and sorting_type == 'asc' else 'asc') }}">
                                Autor
                                {% if sorting_field == 'authors' %}<img src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_alt }}">{% endif %}
                            </a>
                        </th>
                        <th scope="col">ISBN</th>
                        <th scope="col">
                            <a href="{{ url_for('catalog.index', sorting_field='price', sorting_type='desc' if sorting_field == 'price' and sorting_type == 'asc' else 'asc') }}">
                                Cena
                                {% if sorting_field == 'price' %}<img src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_alt }}">{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="{{ url_for('catalog.index', sorting_field='publication_year', sorting_type='desc' if sorting_field == 'publication_year' and sorting_type == 'asc' else 'asc') }}">
                                Rok publikacji
                                {% if sorting_field == 'publication_year' %}<img src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_alt }}">{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="{{ url_for('catalog.index', sorting_field='inserted_at', sorting_type='desc' if sorting_field == 'inserted_at' and sorting_type == 'asc' else 'asc') }}">
                                Data dodania
                                {% if sorting_field == 'inserted_at' %}<img src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_alt }}">{% endif %}
                            </a>
                        </th>
                        <th scope="col">
                            <a href="{{ url_for('catalog.index', sorting_field='copies', sorting_type='desc' if sorting_field == 'copies' and sorting_type == 'asc' else 'asc') }}">
                                Egz.
                                {% if sorting_field == 'copies' %}<img src="{{ url_for('static', filename=icon_path) }}" alt="{{ icon_alt }}">{% endif %}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a href="{{ url_for('catalog.one', book_id=book.id) }}">{{ book.title }}</a></td>
                        <td>{{ book.authors if book.authors }}</td>
                        <td>{{ book.isbn if book.isbn }}</td>
                        <td>{{ book.price if book.price }}</td>
                        <td>{{ book.publication_year if book.publication_year }}</td>
                        <td>{{ book.inserted_at.strftime('%d-%m-%Y') }}</td>
                        <td>{{ book.copies }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
