<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <title>Bookery</title>

    {% block styles %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        {% set class = 'alert alert-danger' if category == 'error' else 'alert alert-success' %}
        <div class="{{ class }}">
            {{ message|safe }}
        </div>
        {% endfor %}
        <header>
            <div class="bookery-title-container">
                <h1 class="bookery-title">Bookery</h1>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('catalog.index') }}">Strona główna</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('catalog.create') }}">Dodaj książkę</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('receiver.index') }}">Użytkownicy</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('receiver.create') }}">Dodaj użytkownika</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('report.show') }}">Stwórz raport</a>
                </div>
                {% if current_user.is_authenticated %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Wyloguj się</a>
                </div>
                {% endif %}
            </div>
        </nav>
        <h2 class="bookery-subtitle">{% block subtitle %}{% endblock %}</h2>
        {% block content %}
        {% endblock %}
    </div>

    {% block js %}
        <script src="{{ url_for('static', filename='js/bootstrap-native-v4.min.js') }}"></script>
    {% endblock %}
</body>
</html>
